__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/

# Django database
db.sqlite3
*.rdb
dump.rdb

staticfiles/
media/
products/
categories/

# */migrations/*
# !*/migrations/__init__.py

.env

.coverage
htmlcov/
.pytest_cache/


.vscode/
.idea/


.DS_Store
Thumbs.db

*.log
